*{
    margin: 0;
    padding: 0;
}
header ul {
    display: flex;
    background-color: #000000;
    padding: 20px;
}
header a {
    color: #ffffff;
}
.table > div {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
  }
  